{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">Atualizar Registro</h2>
<hr>

{% for mensagem in get_flashed_messages() %}

    <div class="alert alert-danger">
        {{mensagem}}
    </div>

{% endfor %}

<form action="{{url_for('atualizar_pessoas', id=pessoa.id)}}" method="POST" class="form-control">
    <label>Nome</label>
    <input class="form-control" type="text" name="nome" value="{{pessoa.nome}}" placeholder="Insira o nome da pessoa" required>
    <br>
    <label>Telefone</label>
    <input class="form-control" type="text" name="telefone" value="{{pessoa.telefone}}" placeholder="Insira o telefone da pessoa" required>
    <br>
    <button class="btn btn-primary">Editar</button>
</form>
{% endblock content %}