{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">Cadastrar Mensagens</h2>
<hr>

{% for mensagem in get_flashed_messages() %}

    <div class="alert alert-danger">
        {{mensagem}}
    </div>

{% endfor %}

<form action="{{url_for('cadastrar_mensagens')}}" method="POST" class="form-control">
    <label>Tipo da mensagem</label>
    <input class="form-control" type="text" name="tipo" placeholder="Insira o tipo da mensagem" required>
    <br>
    <label>Mensagem</label>
    <textarea class="form-control" name="mensagem" placeholder="Digite a mensagem" required></textarea>
    <br>
    <button class="btn btn-primary">Inserir</button>
</form>
{% endblock content %}