{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">Cadastrar Pessoas</h2>
<hr>

{% for mensagem in get_flashed_messages() %}

    <div class="alert alert-danger">
        {{mensagem}}
    </div>

{% endfor %}

<form action="{{url_for('cadastrar_pessoas')}}" method="POST" class="form-control">
    <label>Nome</label>
    <input class="form-control" type="text" name="nome" placeholder="Insira o nome da pessoa" required>
    <br>
    <label>Telefone</label>
    <input class="form-control" type="text" name="telefone" placeholder="Insira o telefone da pessoa" required>
    <br>
    <button class="btn btn-primary">Inserir</button>
</form>
{% endblock content %}