{% extends 'base.html' %}

{% block content %}
<div class="p-3 mb-2 bg-secondary text-white">
    <h2 style="text-align: center;">Tabela de mensagens</h2>
</div>
<hr>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipo</th>
            <th scope="col">Mensagem</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for mensagem in mensagens %}
        <tr>
            <td>{{mensagem.id}}</td>
            <td>{{mensagem.tipo}}</td>
            <td>{{mensagem.mensagem}}</td>
            <td>
                <a href="{{mensagem.id}}/atualizar_mensagens" class="btn btn-secondary">Editar</a>
                <a href="{{mensagem.id}}/excluir_mensagens" onclick="return confirm('Deseja excluir esse registro?')" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{url_for('cadastrar_mensagens')}}" class="btn btn-primary">Adicionar Registro</a>
{% endblock content %}
