{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">Automação de envio de mensagens e notificações via WhatsApp</h2>
<hr>

<form method="POST" class="form-control" name="">

  <label>Selecione o nome:</label>
  <br>
  <select multiple class="form-control" id="nome_select" name="nome_select">
    {% for pessoa in pessoas %}
    <option value="{{pessoa.nome}}">{{pessoa.nome}}</option>
    {% endfor %}
  </select>
  
  <br>
  <br>
  <label>Selecione a mensagem:</label>
  <br>

  <select class="form-control" id="mensagem_select" name="mensagem_select">
    {% for mensagem in mensagens %}
    <option value="{{mensagem.mensagem}}">{{mensagem.mensagem}}</option>
    {% endfor %}
  </select>
  <br>

  <input class="btn btn-primary" type="submit" name="Enviar mensagem" value="Enviar mensagem">

<!-- <button class="btn btn-primary">Enviar</button> -->  
</form>
  
{% endblock content %}