{% extends 'base.html' %}

{% block content %}
<div class="p-3 mb-2 bg-secondary text-light"><h2 style="text-align: center;">Automação de envio de mensagens via WhatsApp</h2></div>

<hr>

<div class="p-3 mb-2 bg-dark text-white">
<form method="POST" class="form-control" name="">
  <div class="p-3 mb-2 bg-secondary text-light">
  <label><strong>Selecione o nome:</strong></label>
  <br>
  <select multiple class="form-control" id="nome_select" name="nome_select">
    {% for pessoa in pessoas %}
    <option value="{{pessoa.nome}}">{{pessoa.nome}}</option>
    {% endfor %}
  </select>
  
  <br>
  <br>
  <label><strong>Selecione a mensagem:</strong></label>
  <br>

  <select class="form-control" id="mensagem_select" name="mensagem_select">
    {% for mensagem in mensagens %}
    <optgroup label="{{mensagem.tipo}}" id="{{mensagem.tipo}}"></optgroup>
    <option value="{{mensagem.mensagem}}">{{mensagem.mensagem}}</option>
    {% endfor %}
  </select>
  <br>

  <input class="btn btn-primary" type="submit" name="Enviar mensagem" value="Enviar mensagem">
  </div>
</form>
</div>
  
{% endblock content %}